<a href="https://colab.research.google.com/github/SebastianLarssonDTU/02456-Reinforcement-Learning-Project/blob/before_framestacking/Auto_Combining_from_multiple_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# INIT : Procgen, Drive, Git

In [1]:
!pip install procgen

Collecting procgen
  Downloading https://files.pythonhosted.org/packages/d6/34/0ae32b01ec623cd822752e567962cfa16ae9c6d6ba2208f3445c017a121b/procgen-0.10.4-cp36-cp36m-manylinux2010_x86_64.whl (39.9MB)
     |████████████████████████████████| 39.9MB 104kB/s
Requirement already satisfied: numpy<2.0.0,>=1.17.0 in /usr/local/lib/python3.6/dist-packages (from procgen) (1.18.5)
Collecting gym3<1.0.0,>=0.3.3
  Downloading https://files.pythonhosted.org/packages/89/8c/83da801207f50acfd262041e7974f3b42a0e5edd410149d8a70fd4ad2e70/gym3-0.3.3-py3-none-any.whl (50kB)
     |████████████████████████████████| 51kB 4.7MB/s
Requirement already satisfied: gym<1.0.0,>=0.15.0 in /usr/local/lib/python3.6/dist-packages (from procgen) (0.17.3)
Requirement already satisfied: filelock<4.0.0,>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from procgen) (3.0.12)
Requirement already satisfied: cffi<2.0.0,>=1.13.0 in /usr/local/lib/python3.6/dist-packages (from gym3<1.0.0,>=0.3.3->procgen) (1.14.3)
Collecting imageio<3.0.0,>=2.6.0
  Downloading https://files.pythonhosted.org/packages/6e/57/5d899fae74c1752f52869b613a8210a2480e1a69688e65df6cb26117d45d/imageio-2.9.0-py3-none-any.whl (3.3MB)
     |████████████████████████████████| 3.3MB 42.9MB/s
Collecting imageio-ffmpeg<0.4.0,>=0.3.0
  Downloading https://files.pythonhosted.org/packages/1b/12/01126a2fb737b23461d7dadad3b8abd51ad6210f979ff05c6fa9812dfbbe/imageio_ffmpeg-0.3.0-py3-none-manylinux2010_x86_64.whl (22.2MB)
     |████████████████████████████████| 22.2MB 1.7MB/s
Collecting glfw<2.0.0,>=1.8.6
  Downloading https://files.pythonhosted.org/packages/74/1b/cc758368f1b2466b3701c0f692973aa8a0b51a192a40463c1d02d54d640c/glfw-1.12.0-py2.py27.py3.py30.py31.py32.py33.py34.py35.py36.py37.py38-none-manylinux2014_x86_64.whl (203kB)
     |████████████████████████████████| 204kB 46.4MB/s
Collecting moderngl<6.0.0,>=5.5.4
  Downloading https://files.pythonhosted.org/packages/56/ab/5f72a1b7c5bdbb17160c85e8ba855d48925c74ff93c1e1027d5ad40bf33c/moderngl-5.6.2-cp36-cp36m-manylinux1_x86_64.whl (664kB)
     |████████████████████████████████| 665kB 41.0MB/s
Requirement already satisfied: pyglet<=1.5.0,>=1.4.0 in /usr/local/lib/python3.6/dist-packages (from gym<1.0.0,>=0.15.0->procgen) (1.5.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from gym<1.0.0,>=0.15.0->procgen) (1.4.1)
Requirement already satisfied: cloudpickle<1.7.0,>=1.2.0 in /usr/local/lib/python3.6/dist-packages (from gym<1.0.0,>=0.15.0->procgen) (1.3.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.6/dist-packages (from cffi<2.0.0,>=1.13.0->gym3<1.0.0,>=0.3.3->procgen) (2.20)
Requirement already satisfied: pillow in /usr/local/lib/python3.6/dist-packages (from imageio<3.0.0,>=2.6.0->gym3<1.0.0,>=0.3.3->procgen) (7.0.0)
Collecting glcontext<3,>=2
  Downloading https://files.pythonhosted.org/packages/b0/8d/93915df9cd8d31c5f054bbacd1c7a76cd2f776b8212dcc768358bd2d4a37/glcontext-2.2.0-cp36-cp36m-manylinux1_x86_64.whl
Requirement already satisfied: future in /usr/local/lib/python3.6/dist-packages (from pyglet<=1.5.0,>=1.4.0->gym<1.0.0,>=0.15.0->procgen) (0.16.0)
ERROR: albumentations 0.1.12 has requirement imgaug<0.2.7,>=0.2.5, but you'll have imgaug 0.2.9 which is incompatible.
Installing collected packages: imageio, imageio-ffmpeg, glfw, glcontext, moderngl, gym3, procgen
  Found existing installation: imageio 2.4.1
    Uninstalling imageio-2.4.1:
      Successfully uninstalled imageio-2.4.1
Successfully installed glcontext-2.2.0 glfw-1.12.0 gym3-0.3.3 imageio-2.9.0 imageio-ffmpeg-0.3.0 moderngl-5.6.2 procgen-0.10.4

In [2]:
#Clone git
!git clone -b restructure_code https://github.com/SebastianLarssonDTU/02456-Reinforcement-Learning-Project.git "my_project"

Cloning into 'my_project'...
remote: Enumerating objects: 113, done.
remote: Counting objects: 100% (113/113), done.
remote: Compressing objects: 100% (113/113), done.
remote: Total 573 (delta 67), reused 2 (delta 0), pack-reused 460
Receiving objects: 100% (573/573), 9.08 MiB | 21.87 MiB/s, done.
Resolving deltas: 100% (350/350), done.

In [3]:
#update git
%cd /content/my_project
! git pull

/content/my_project
Already up to date.

In [4]:
import datatools as tools
from datatools import DATA_PATH, MODEL_PATH
#Mount drive
tools.mount_drive()

Mounted at /content/drive

# Import

In [5]:
#Import all custom files
import baseline
import datatools as tools
import hyperparameters as h
import model
import my_util
import policy
import ppo
import utils

#other imports
import torch

#import specific methods
from baseline import set_hyperparameters
from ppo import PPO
from experiments import run_experiment, print_list_of_experiments

In [6]:
print_list_of_experiments()

***** Experiment 0 *****
Description:    Baseline inspired by PPO article
***** Experiment 1 *****
Description:    Baseline inspired by Procgen article
***** Experiment 2 *****
Description:    Modified PPO baseline with value clipping enabled
***** Experiment 3 *****
Description:    Modified PPO baseline with value clipping enabled and learning rate given by par variable
***** Experiment 4 *****
Description:    Modified PPO baseline with value clipping enabled and reward penalty on death (1 as default)
***** Experiment 5 *****
Description:    Baseline inspired by IMPALA paper (No value clipping)
***** Experiment 6 *****
Description:    Inspired by IMPALA paper (With value clipping)
***** Experiment 7 *****
Description:    Inspired by both IMPALA and Procgen papers (With value clipping)
***** Experiment 8 *****
Description:    Inspired by both IMPALA and Procgen papers (With value clipping) and added death penalty

# Create Index File

In [7]:
INDEX = tools.create_index_table_from_txt_files()
INDEX

        total_steps num_envs num_levels  ... step_start Time spent Last Mean Reward
 Value    8000000.0       32         10  ...        NaN    5:14:18         20.34375
 Value    8000000.0       32         10  ...        NaN    5:30:18         19.53125
 Value    8000000.0       32         10  ...        NaN    5:41:20         28.15625
 Value    8000000.0       32         10  ...        NaN    5:46:59          25.8125
 Value    8000000.0       32         10  ...        NaN        NaN             23.0
 Value    8000000.0       32         10  ...        NaN        NaN             24.5
 Value    8000000.0       32         10  ...        NaN    8:55:30         16.28125
 Value    8000000.0       32         10  ...        NaN    9:30:41         24.15625
 Value    8000000.0       32         10  ...        NaN        NaN         22.03125
 Value    8000000.0       32         10  ...        NaN    7:33:30         29.71875
 Value    8000000.0       32         10  ...        NaN    7:50:29           30.375
 Value    8000000.0       32        100  ...        NaN        NaN            23.75
 Value    8000000.0       32         50  ...        NaN        NaN         23.84375
 Value    8000000.0       32         10  ...        NaN    7:58:57          26.8125
 Value    8000000.0       32        100  ...        NaN        NaN         21.15625
 Value    8000000.0       32         50  ...        NaN        NaN            23.25
 Value    8000000.0       32         10  ...        NaN    8:17:39         26.40625
 Value    8000000.0       32         50  ...        NaN        NaN             21.5
 Value    8000000.0       32         50  ...        NaN        NaN            17.75
 Value    8000000.0       32         50  ...          0        NaN            20.75
 Value    8000000.0       32         50  ...          0        NaN         24.71875
 Value    8000000.0       32         50  ...          0        NaN         22.90625
 Value   14004736.0       32         50  ...    6004736        NaN           20.625
 Value   12505600.0       32         50  ...    4505600        NaN          23.9375
 Value    8000000.0       32         50  ...          0        NaN           17.375
 Value   21516800.0       32         50  ...   13516800        NaN         24.15625
 Value   21516800.0       32         50  ...   13516800        NaN         27.21875
 Value    8000000.0       32        200  ...          0        NaN           16.125
 Value    8000000.0       32        200  ...          0        NaN          22.3125
 Value   12005888.0       32         50  ...    4005888        NaN           23.875
 Value    9007616.0       32        200  ...    1007616        NaN         20.96875
 Value   11506176.0       32        200  ...    3506176        NaN         22.96875
 Value    8000000.0       32         50  ...          0        NaN         24.15625
 Value    8000000.0       32         50  ...          0        NaN         27.21875
 Value    8000000.0       32        200  ...          0        NaN         16.21875
 Value    8000000.0       32         10  ...          0        NaN         19.15625

[36 rows x 27 columns]

In [8]:
import glob

file_names = [x.strip() for x in INDEX['file_name']]
n = len(file_names)
# for i in range(n):
#   file_names.append(INDEX['file_name'][-1-i].strip())

In [9]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

def plot_training_graphs(file_names, legend = None):
  df = pd.DataFrame(columns=file_names)
  df['Step'] = pd.read_csv(DATA_PATH + INDEX["file_name"][0].strip()+".csv")["Step"]  #This only works as long as they all have the same steps!
  for file_name in file_names:
    df[file_name] = pd.read_csv(DATA_PATH + file_name+".csv")[" Mean reward"]
  
  df = df.set_index('Step')

  plt.figure(figsize=(16, 10))
  sns.lineplot(data = df)
  if legend is not None:
    plt.legend(labels=[legend[x] for x in file_names])
  plt.title("Training")

def plot_eval_graphs(file_names, legend = None):
  df = pd.DataFrame(columns=file_names)
  for file_name in file_names:
    temp = pd.read_csv(DATA_PATH + file_name+"_EVAL.csv")
    df[file_name] = temp["avg"]
  plt.figure(figsize=(16, 10))
  sns.lineplot(data = df)
  if legend is not None:
    plt.legend(labels=[legend[x] for x in file_names])
  plt.title("Eval")
  # return df

In [10]:
for i in range(len(file_names)):
  print("[{:2d}]: {}".format(i, file_names[i]))

[ 0]: Experiment0_Run_26Nov_15h21m41s
[ 1]: Experiment1_Run_26Nov_15h22m38s
[ 2]: Experiment2_Run_27Nov_11h05m48s
[ 3]: Experiment4_Run_27Nov_11h07m20s
[ 4]: Experiment3_Run_27Nov_18h03m39s
[ 5]: Experiment4_Run_27Nov_18h11m00s
[ 6]: Experiment5_Run_27Nov_16h37m42s
[ 7]: Experiment6_Run_28Nov_12h09m43s
[ 8]: Experiment3_Run_29Nov_16h30m27s
[ 9]: Experiment7_Run_30Nov_14h45m32s
[10]: Experiment8_Run_30Nov_22h21m06s
[11]: Experiment7_100levels_Run_02Dec_09h29m48s
[12]: Experiment8_50levels_Run_02Dec_17h18m34s
[13]: Experiment8_10levels_Run_02Dec_09h48m26s
[14]: Experiment2_100levels_Run_03Dec_10h48m24s
[15]: Experiment8_50levels_Run_03Dec_14h53m09s
[16]: Experiment8_10levels_Run_03Dec_11h04m34s
[17]: Experiment8_50levels_Run_04Dec_06h17m22s
[18]: Experiment4_50levels_Run_04Dec_08h02m21s
[19]: Experiment2_50levels_Run_04Dec_18h10m32s
[20]: Experiment7_50levels_Run_04Dec_18h12m45s
[21]: Experiment8_50levels_Run_05Dec_08h34m02s
[22]: Experiment2_50levels_Run_04Dec_18h10m32s_loaded_05Dec_09h43m36s
[23]: Experiment7_50levels_Run_04Dec_18h12m45s_loaded_05Dec_10h49m07s
[24]: Experiment8_50levels_Run_06Dec_12h06m47s
[25]: Experiment2_50levels_Run_04Dec_18h10m32s_loaded_06Dec_12h08m48s
[26]: Experiment7_50levels_Run_04Dec_18h12m45s_loaded_06Dec_12h10m21s
[27]: Experiment8_200levels_Run_06Dec_16h17m59s
[28]: Experiment7_200levels_Run_06Dec_16h18m31s
[29]: Experiment8_50levels_Run_05Dec_08h34m02s_loaded_07Dec_10h53m55s
[30]: Experiment8_200levels_Run_06Dec_16h17m59s_loaded_07Dec_10h59m38s
[31]: Experiment7_200levels_Run_06Dec_16h18m31s_loaded_07Dec_11h04m01s
[32]: Experiment2_50levels_Run_04Dec_18h10m32s_combined
[33]: Experiment7_50levels_Run_04Dec_18h12m45s_combined
[34]: Experiment2_200levels_Run_07Dec_13h49m13s
[35]: Experiment8_10levels_Run_07Dec_14h22m43s

# Create .csv's

Assumes that all file_names are correct! (with step count etc)

In [21]:
def create_training_csv_from_multiple_runs(base_file_name):
  all_related_files = find_related_csv_files(base_file_name)

  #create a df for each file
  dfs = []
  for name in all_related_files:
    dfs.append(pd.read_csv(DATA_PATH + name + ".csv"))

  dfs = remove_overlap_from_dfs(dfs)

  #Concatenate
  final_df = pd.concat(dfs)
  final_df = final_df.set_index("Step")

  #Save to file
  final_df.to_csv(DATA_PATH +base_file_name +"_combined.csv")

def create_EVAL_csv_from_multiple_runs(base_file_name):
  all_related_files = find_related_csv_files(base_file_name)
  base = 32*256*16

  dfs = []
  for name in all_related_files:
    df = pd.read_csv(DATA_PATH + name + "_EVAL.csv")
    #add steps if missing
    if "step" not in df.columns:
      df.insert(0, "Step", [base*(i+1) for i in range(len(df))])
    else:
      df.rename(columns={'step':'Step'}, inplace=True)
    dfs.append(df)

  dfs = remove_overlap_from_dfs(dfs)

  #Remove whitespace in headers
  for df in dfs:
    df.rename(columns=lambda x: x.strip(), inplace=True)

    #Concatenate
  final_df = pd.concat(dfs)
  final_df = final_df.set_index("Step")

  #save in file
  final_df.to_csv(DATA_PATH +base_file_name +"_combined_EVAL.csv")


def remove_overlap_from_dfs(dfs):
  #Dataframes overlap, so cut off excess
  breakpoints=[]
  for df in dfs[1:]:
    breakpoints.append(df['Step'][0])
  for i in range(len(dfs)-1):
    dfs[i] = dfs[i][dfs[i]["Step"] < breakpoints[i]]
  return dfs

def find_related_csv_files(base_file_name):
  file_names = [x.strip() for x in INDEX['file_name']]
  all_related_files= []
  for name in file_names:
    if base_file_name in name and "combined" not in name:
      all_related_files.append(name)

  return all_related_files

In [22]:
base_file_name = "Experiment8_200levels_Run_06Dec_16h17m59s"
create_EVAL_csv_from_multiple_runs(base_file_name)
create_training_csv_from_multiple_runs(base_file_name)