<a href="https://colab.research.google.com/github/SebastianLarssonDTU/02456-Reinforcement-Learning-Project/blob/before_framestacking/Combining_from_multiple_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# INIT : Procgen, Drive, Git

In [1]:
!pip install procgen

Requirement already satisfied: procgen in /usr/local/lib/python3.6/dist-packages (0.10.4)
Requirement already satisfied: gym3<1.0.0,>=0.3.3 in /usr/local/lib/python3.6/dist-packages (from procgen) (0.3.3)
Requirement already satisfied: filelock<4.0.0,>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from procgen) (3.0.12)
Requirement already satisfied: numpy<2.0.0,>=1.17.0 in /usr/local/lib/python3.6/dist-packages (from procgen) (1.18.5)
Requirement already satisfied: gym<1.0.0,>=0.15.0 in /usr/local/lib/python3.6/dist-packages (from procgen) (0.17.3)
Requirement already satisfied: cffi<2.0.0,>=1.13.0 in /usr/local/lib/python3.6/dist-packages (from gym3<1.0.0,>=0.3.3->procgen) (1.14.3)
Requirement already satisfied: imageio-ffmpeg<0.4.0,>=0.3.0 in /usr/local/lib/python3.6/dist-packages (from gym3<1.0.0,>=0.3.3->procgen) (0.3.0)
Requirement already satisfied: moderngl<6.0.0,>=5.5.4 in /usr/local/lib/python3.6/dist-packages (from gym3<1.0.0,>=0.3.3->procgen) (5.6.2)
Requirement already satisfied: imageio<3.0.0,>=2.6.0 in /usr/local/lib/python3.6/dist-packages (from gym3<1.0.0,>=0.3.3->procgen) (2.9.0)
Requirement already satisfied: glfw<2.0.0,>=1.8.6 in /usr/local/lib/python3.6/dist-packages (from gym3<1.0.0,>=0.3.3->procgen) (1.12.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from gym<1.0.0,>=0.15.0->procgen) (1.4.1)
Requirement already satisfied: pyglet<=1.5.0,>=1.4.0 in /usr/local/lib/python3.6/dist-packages (from gym<1.0.0,>=0.15.0->procgen) (1.5.0)
Requirement already satisfied: cloudpickle<1.7.0,>=1.2.0 in /usr/local/lib/python3.6/dist-packages (from gym<1.0.0,>=0.15.0->procgen) (1.3.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.6/dist-packages (from cffi<2.0.0,>=1.13.0->gym3<1.0.0,>=0.3.3->procgen) (2.20)
Requirement already satisfied: glcontext<3,>=2 in /usr/local/lib/python3.6/dist-packages (from moderngl<6.0.0,>=5.5.4->gym3<1.0.0,>=0.3.3->procgen) (2.2.0)
Requirement already satisfied: pillow in /usr/local/lib/python3.6/dist-packages (from imageio<3.0.0,>=2.6.0->gym3<1.0.0,>=0.3.3->procgen) (7.0.0)
Requirement already satisfied: future in /usr/local/lib/python3.6/dist-packages (from pyglet<=1.5.0,>=1.4.0->gym<1.0.0,>=0.15.0->procgen) (0.16.0)

In [2]:
#Clone git
!git clone -b restructure_code https://github.com/SebastianLarssonDTU/02456-Reinforcement-Learning-Project.git "my_project"

fatal: destination path 'my_project' already exists and is not an empty directory.

In [3]:
#update git
%cd /content/my_project
! git pull

/content/my_project
Already up to date.

In [4]:
import datatools as tools
from datatools import DATA_PATH, MODEL_PATH
#Mount drive
tools.mount_drive()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Import

In [5]:
#Import all custom files
import baseline
import datatools as tools
import hyperparameters as h
import model
import my_util
import policy
import ppo
import utils

#other imports
import torch

#import specific methods
from baseline import set_hyperparameters
from ppo import PPO
from experiments import run_experiment, print_list_of_experiments

In [6]:
print_list_of_experiments()

***** Experiment 0 *****
Description:    Baseline inspired by PPO article
***** Experiment 1 *****
Description:    Baseline inspired by Procgen article
***** Experiment 2 *****
Description:    Modified PPO baseline with value clipping enabled
***** Experiment 3 *****
Description:    Modified PPO baseline with value clipping enabled and learning rate given by par variable
***** Experiment 4 *****
Description:    Modified PPO baseline with value clipping enabled and reward penalty on death (1 as default)
***** Experiment 5 *****
Description:    Baseline inspired by IMPALA paper (No value clipping)
***** Experiment 6 *****
Description:    Inspired by IMPALA paper (With value clipping)
***** Experiment 7 *****
Description:    Inspired by both IMPALA and Procgen papers (With value clipping)
***** Experiment 8 *****
Description:    Inspired by both IMPALA and Procgen papers (With value clipping) and added death penalty

# Create Index File

In [8]:
INDEX = tools.create_index_table_from_txt_files()
INDEX

        total_steps num_envs num_levels  ... nstack Time spent Last Mean Reward
 Value    8000000.0       32         10  ...    NaN    5:14:18         20.34375
 Value    8000000.0       32         10  ...    NaN    5:30:18         19.53125
 Value    8000000.0       32         10  ...    NaN    5:46:11         23.96875
 Value    8000000.0       32         10  ...    NaN    5:41:20         28.15625
 Value    8000000.0       32         10  ...    NaN    5:46:59          25.8125
 Value    8000000.0       32         10  ...    NaN        NaN             23.0
 Value    8000000.0       32         10  ...    NaN        NaN             24.5
 Value    8000000.0       32         10  ...    NaN    8:55:30         16.28125
 Value    8000000.0       32         10  ...    NaN    9:30:41         24.15625
 Value    8000000.0       32         10  ...    NaN        NaN         22.03125
 Value    8000000.0       32         10  ...    NaN        NaN         27.09375
 Value    8000000.0       32         10  ...    NaN    7:33:30         29.71875
 Value    8000000.0       32         10  ...    NaN    7:50:29           30.375
 Value    8000000.0       32         50  ...    NaN        NaN         23.84375
 Value    8000000.0       32         50  ...    NaN        NaN            22.25
 Value    8000000.0       32        100  ...    NaN        NaN         16.09375
 Value    8000000.0       32        100  ...    NaN        NaN            23.75
 Value    8000000.0       32         50  ...    NaN        NaN         23.84375
 Value    8000000.0       32         10  ...    NaN    7:58:57          26.8125
 Value    8000000.0       32        100  ...    NaN        NaN         21.15625
 Value    8000000.0       32         50  ...    NaN        NaN            23.25
 Value    8000000.0       32         10  ...    NaN    8:17:39         26.40625
 Value    8000000.0       32         50  ...    NaN        NaN             21.5
 Value    8000000.0       32         50  ...    NaN        NaN            17.75
 Value    8000000.0       32         50  ...    NaN        NaN            20.75
 Value    8000000.0       32         50  ...    NaN        NaN         24.71875
 Value    8000000.0       32         50  ...    NaN        NaN         22.90625
 Value   14004736.0       32         50  ...    NaN        NaN           20.625
 Value   12505600.0       32         50  ...    NaN        NaN          23.9375
 Value    8000000.0       32         50  ...    NaN        NaN         17.78125
 Value   21516800.0       32         50  ...    NaN        NaN         24.15625
 Value   21516800.0       32         50  ...    NaN        NaN         27.21875
 Value    8000000.0       32         10  ...      1        NaN         17.03125
 Value    8000000.0       32         10  ...      4        NaN           7.5625
 Value    8000000.0       32         10  ...      4        NaN           6.0625
 Value    8000000.0       32         10  ...      1        NaN           16.625
 Value    8000000.0       32         10  ...      4        NaN      Mean reward
 Value    8000000.0       32         10  ...      4        NaN             7.75
 Value    8000000.0       32        200  ...    NaN        NaN         10.09375
 Value    8000000.0       32        200  ...    NaN        NaN          11.8125

[40 rows x 28 columns]

In [9]:
import glob

file_names = [x.strip() for x in INDEX['file_name']]
n = len(file_names)
# for i in range(n):
#   file_names.append(INDEX['file_name'][-1-i].strip())

In [10]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

def plot_training_graphs(file_names, legend = None):
  df = pd.DataFrame(columns=file_names)
  df['Step'] = pd.read_csv(DATA_PATH + INDEX["file_name"][0].strip()+".csv")["Step"]  #This only works as long as they all have the same steps!
  for file_name in file_names:
    df[file_name] = pd.read_csv(DATA_PATH + file_name+".csv")[" Mean reward"]
  
  df = df.set_index('Step')

  plt.figure(figsize=(16, 10))
  sns.lineplot(data = df)
  if legend is not None:
    plt.legend(labels=[legend[x] for x in file_names])
  plt.title("Training")

def plot_eval_graphs(file_names, legend = None):
  df = pd.DataFrame(columns=file_names)
  for file_name in file_names:
    temp = pd.read_csv(DATA_PATH + file_name+"_EVAL.csv")
    df[file_name] = temp["avg"]
  plt.figure(figsize=(16, 10))
  sns.lineplot(data = df)
  if legend is not None:
    plt.legend(labels=[legend[x] for x in file_names])
  plt.title("Eval")
  # return df

In [11]:
for i in range(len(file_names)):
  print("[{:2d}]: {}".format(i, file_names[i]))

[ 0]: Experiment0_Run_26Nov_15h21m41s
[ 1]: Experiment1_Run_26Nov_15h22m38s
[ 2]: Experiment2_Run_26Nov_22h02m36s
[ 3]: Experiment2_Run_27Nov_11h05m48s
[ 4]: Experiment4_Run_27Nov_11h07m20s
[ 5]: Experiment3_Run_27Nov_18h03m39s
[ 6]: Experiment4_Run_27Nov_18h11m00s
[ 7]: Experiment5_Run_27Nov_16h37m42s
[ 8]: Experiment6_Run_28Nov_12h09m43s
[ 9]: Experiment3_Run_29Nov_16h30m27s
[10]: Experiment7_Run_29Nov_16h32m47s
[11]: Experiment7_Run_30Nov_14h45m32s
[12]: Experiment8_Run_30Nov_22h21m06s
[13]: Experiment7_50levels_Run_01Dec_07h28m45s
[14]: Experiment2_50levels_Run_01Dec_10h07m41s
[15]: Experiment2_100levels_Run_02Dec_09h27m30s
[16]: Experiment7_100levels_Run_02Dec_09h29m48s
[17]: Experiment8_50levels_Run_02Dec_17h18m34s
[18]: Experiment8_10levels_Run_02Dec_09h48m26s
[19]: Experiment2_100levels_Run_03Dec_10h48m24s
[20]: Experiment8_50levels_Run_03Dec_14h53m09s
[21]: Experiment8_10levels_Run_03Dec_11h04m34s
[22]: Experiment8_50levels_Run_04Dec_06h17m22s
[23]: Experiment4_50levels_Run_04Dec_08h02m21s
[24]: Experiment2_50levels_Run_04Dec_18h10m32s
[25]: Experiment7_50levels_Run_04Dec_18h12m45s
[26]: Experiment8_50levels_Run_05Dec_08h34m02s
[27]: Experiment2_50levels_Run_04Dec_18h10m32s_loaded_05Dec_09h43m36s
[28]: Experiment7_50levels_Run_04Dec_18h12m45s_loaded_05Dec_10h49m07s
[29]: Experiment8_50levels_Run_06Dec_12h06m47s
[30]: Experiment2_50levels_Run_04Dec_18h10m32s_loaded_06Dec_12h08m48s
[31]: Experiment7_50levels_Run_04Dec_18h12m45s_loaded_06Dec_12h10m21s
[32]: Experiment5_10levels_Run_06Dec_12h45m20s
[33]: Experiment6_10levels_Run_06Dec_13h11m29s
[34]: Experiment6_10levels_Run_06Dec_14h28m09s
[35]: Experiment2_10levels_Run_06Dec_15h28m07s
[36]: Experiment2_10levels_Run_06Dec_15h28m27s
[37]: Experiment7_10levels_Run_06Dec_15h34m58s
[38]: Experiment8_200levels_Run_06Dec_16h17m59s
[39]: Experiment7_200levels_Run_06Dec_16h18m31s

# Combine files from multiple runs (PPO)

In [12]:
root_name = "Experiment2_50levels_Run_04Dec_18h10m32s"

## Print related files

In [15]:
all_related_files= []
for name in file_names:
  if root_name in name:
    all_related_files.append(name)

for name in all_related_files:
  print(name)

Experiment2_50levels_Run_04Dec_18h10m32s
Experiment2_50levels_Run_04Dec_18h10m32s_loaded_05Dec_09h43m36s
Experiment2_50levels_Run_04Dec_18h10m32s_loaded_06Dec_12h08m48s

In [25]:
import glob
all_models=glob.glob(MODEL_PATH +"*.pt")
for model_path in all_models:
  if root_name in model_path:
    print(model_path)

/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment2_50levels_Run_04Dec_18h10m32s_507904steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment2_50levels_Run_04Dec_18h10m32s_1007616steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment2_50levels_Run_04Dec_18h10m32s_1507328steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment2_50levels_Run_04Dec_18h10m32s_2007040steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment2_50levels_Run_04Dec_18h10m32s_2506752steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment2_50levels_Run_04Dec_18h10m32s_3006464steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment2_50levels_Run_04Dec_18h10m32s_3506176steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment2_50levels_Run_04Dec_18h10m32s_4005888steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment2_50levels_Run_04Dec_18h10m32s_4505600steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment2_50levels_Run_04Dec_18h10m32s_5005312steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment2_50levels_Run_04Dec_18h10m32s_5505024steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment2_50levels_Run_04Dec_18h10m32s_6004736steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment2_50levels_Run_04Dec_18h10m32s_loaded_05Dec_09h43m36s_12517376steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment2_50levels_Run_04Dec_18h10m32s_loaded_05Dec_09h43m36s_13017088steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment2_50levels_Run_04Dec_18h10m32s_loaded_05Dec_09h43m36s_13516800steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment2_50levels_Run_04Dec_18h10m32s_loaded_06Dec_12h08m48s_27541504steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment2_50levels_Run_04Dec_18h10m32s_loaded_06Dec_12h08m48s_28041216steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment2_50levels_Run_04Dec_18h10m32s_loaded_06Dec_12h08m48s_28540928steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment2_50levels_Run_04Dec_18h10m32s_loaded_06Dec_12h08m48s_29040640steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment2_50levels_Run_04Dec_18h10m32s_loaded_06Dec_12h08m48s_29540352steps.pt

**CONCLUSION:**

First load at 6004736steps

Second load at 13516800steps which is actually 13516800-6004736steps =

In [29]:
13516800-6004736

7512064

In [26]:
for model_path in all_models:
  if root_name in model_path and "loaded" in model_path:
    print(model_path)

/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment2_50levels_Run_04Dec_18h10m32s_loaded_05Dec_09h43m36s_12517376steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment2_50levels_Run_04Dec_18h10m32s_loaded_05Dec_09h43m36s_13017088steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment2_50levels_Run_04Dec_18h10m32s_loaded_05Dec_09h43m36s_13516800steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment2_50levels_Run_04Dec_18h10m32s_loaded_06Dec_12h08m48s_27541504steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment2_50levels_Run_04Dec_18h10m32s_loaded_06Dec_12h08m48s_28041216steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment2_50levels_Run_04Dec_18h10m32s_loaded_06Dec_12h08m48s_28540928steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment2_50levels_Run_04Dec_18h10m32s_loaded_06Dec_12h08m48s_29040640steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment2_50levels_Run_04Dec_18h10m32s_loaded_06Dec_12h08m48s_29540352steps.pt

## Create dfs

Notice overlap since the model is not necessarily saved in the end, model can have timed out or been manually stopped

In [35]:
dfs = []
for name in all_related_files:
  dfs.append(pd.read_csv(DATA_PATH + name + ".csv"))

#Correct for error in name
dfs[2]["Step"] =dfs[2]["Step"]-6004736
for df in dfs:
  print("******************")
  print(df.head())
  print(df.tail())

******************
    Step   Mean reward
0   8192       4.59375
1  16384       4.93750
2  24576       4.96875
3  32768       4.34375
4  40960       5.78125
        Step   Mean reward
763  6258688      20.96875
764  6266880      23.40625
765  6275072      21.25000
766  6283264      21.81250
767  6291456      20.75000
******************
      Step   Mean reward
0  6012928      19.87500
1  6021120      22.78125
2  6029312      21.78125
3  6037504      21.18750
4  6045696      21.21875
        Step   Mean reward
190  7569408      21.56250
191  7577600      21.37500
192  7585792      21.09375
193  7593984      20.87500
194  7602176      20.62500
******************
      Step   Mean reward
0  7520256      20.71875
1  7528448      21.50000
2  7536640      23.18750
3  7544832      22.65625
4  7553024      22.87500
         Step   Mean reward
313  10084352      24.00000
314  10092544      23.46875
315  10100736      22.53125
316  10108928      22.87500
317  10117120      24.15625

# Combine files from multiple runs (Impala)

In [36]:
root_name = "Experiment7_50levels_Run_04Dec_18h12m45s"

## Print related files

In [37]:
all_related_files= []
for name in file_names:
  if root_name in name:
    all_related_files.append(name)

for name in all_related_files:
  print(name)

Experiment7_50levels_Run_04Dec_18h12m45s
Experiment7_50levels_Run_04Dec_18h12m45s_loaded_05Dec_10h49m07s
Experiment7_50levels_Run_04Dec_18h12m45s_loaded_06Dec_12h10m21s

In [38]:
import glob
all_models=glob.glob(MODEL_PATH +"*.pt")
for model_path in all_models:
  if root_name in model_path:
    print(model_path)

/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment7_50levels_Run_04Dec_18h12m45s_507904steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment7_50levels_Run_04Dec_18h12m45s_1007616steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment7_50levels_Run_04Dec_18h12m45s_1507328steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment7_50levels_Run_04Dec_18h12m45s_2007040steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment7_50levels_Run_04Dec_18h12m45s_2506752steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment7_50levels_Run_04Dec_18h12m45s_3006464steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment7_50levels_Run_04Dec_18h12m45s_3506176steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment7_50levels_Run_04Dec_18h12m45s_4005888steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment7_50levels_Run_04Dec_18h12m45s_4505600steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment7_50levels_Run_04Dec_18h12m45s_loaded_05Dec_10h49m07s_9519104steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment7_50levels_Run_04Dec_18h12m45s_loaded_05Dec_10h49m07s_10018816steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment7_50levels_Run_04Dec_18h12m45s_loaded_05Dec_10h49m07s_10518528steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment7_50levels_Run_04Dec_18h12m45s_loaded_05Dec_10h49m07s_11018240steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment7_50levels_Run_04Dec_18h12m45s_loaded_05Dec_10h49m07s_11517952steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment7_50levels_Run_04Dec_18h12m45s_loaded_05Dec_10h49m07s_12017664steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment7_50levels_Run_04Dec_18h12m45s_loaded_05Dec_10h49m07s_12517376steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment7_50levels_Run_04Dec_18h12m45s_loaded_05Dec_10h49m07s_13017088steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment7_50levels_Run_04Dec_18h12m45s_loaded_05Dec_10h49m07s_13516800steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment7_50levels_Run_04Dec_18h12m45s_loaded_06Dec_12h10m21s_27541504steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment7_50levels_Run_04Dec_18h12m45s_loaded_06Dec_12h10m21s_28041216steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment7_50levels_Run_04Dec_18h12m45s_loaded_06Dec_12h10m21s_28540928steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment7_50levels_Run_04Dec_18h12m45s_loaded_06Dec_12h10m21s_29040640steps.pt

**CONCLUSION:**

First load at 4505600steps

Second load at 13516800steps which is actually 13516800-4505600steps =

In [39]:
13516800-4505600

9011200

In [40]:
for model_path in all_models:
  if root_name in model_path and "loaded" in model_path:
    print(model_path)

/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment7_50levels_Run_04Dec_18h12m45s_loaded_05Dec_10h49m07s_9519104steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment7_50levels_Run_04Dec_18h12m45s_loaded_05Dec_10h49m07s_10018816steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment7_50levels_Run_04Dec_18h12m45s_loaded_05Dec_10h49m07s_10518528steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment7_50levels_Run_04Dec_18h12m45s_loaded_05Dec_10h49m07s_11018240steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment7_50levels_Run_04Dec_18h12m45s_loaded_05Dec_10h49m07s_11517952steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment7_50levels_Run_04Dec_18h12m45s_loaded_05Dec_10h49m07s_12017664steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment7_50levels_Run_04Dec_18h12m45s_loaded_05Dec_10h49m07s_12517376steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment7_50levels_Run_04Dec_18h12m45s_loaded_05Dec_10h49m07s_13017088steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment7_50levels_Run_04Dec_18h12m45s_loaded_05Dec_10h49m07s_13516800steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment7_50levels_Run_04Dec_18h12m45s_loaded_06Dec_12h10m21s_27541504steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment7_50levels_Run_04Dec_18h12m45s_loaded_06Dec_12h10m21s_28041216steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment7_50levels_Run_04Dec_18h12m45s_loaded_06Dec_12h10m21s_28540928steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Experiment7_50levels_Run_04Dec_18h12m45s_loaded_06Dec_12h10m21s_29040640steps.pt

## Create dfs

Notice overlap since the model is not necessarily saved in the end, model can have timed out or been manually stopped

In [41]:
dfs = []
for name in all_related_files:
  dfs.append(pd.read_csv(DATA_PATH + name + ".csv"))

#Correct for error in name
dfs[2]["Step"] =dfs[2]["Step"]-4505600
for df in dfs:
  print("******************")
  print(df.head())
  print(df.tail())

******************
    Step   Mean reward
0   8192       4.93750
1  16384       5.15625
2  24576       5.84375
3  32768       6.37500
4  40960       7.43750
        Step   Mean reward
547  4489216      24.28125
548  4497408      24.65625
549  4505600      24.25000
550  4513792      23.31250
551  4521984      24.71875
******************
      Step   Mean reward
0  4513792      22.37500
1  4521984      22.71875
2  4530176      25.03125
3  4538368      23.28125
4  4546560      26.06250
        Step   Mean reward
581  9273344      27.09375
582  9281536      25.31250
583  9289728      25.84375
584  9297920      25.90625
585  9306112      23.93750
******************
      Step   Mean reward
0  9019392      23.03125
1  9027584      24.62500
2  9035776      28.00000
3  9043968      26.28125
4  9052160      26.43750
         Step   Mean reward
249  11059200      26.12500
250  11067392      25.40625
251  11075584      26.18750
252  11083776      27.00000
253  11091968      27.21875