<a href="https://colab.research.google.com/github/SebastianLarssonDTU/02456-Reinforcement-Learning-Project/blob/restructure_code/Continue_training.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# INIT : Procgen, Drive, Git

In [1]:
!pip install procgen

Requirement already satisfied: procgen in /usr/local/lib/python3.6/dist-packages (0.10.4)
Requirement already satisfied: gym3<1.0.0,>=0.3.3 in /usr/local/lib/python3.6/dist-packages (from procgen) (0.3.3)
Requirement already satisfied: gym<1.0.0,>=0.15.0 in /usr/local/lib/python3.6/dist-packages (from procgen) (0.17.3)
Requirement already satisfied: numpy<2.0.0,>=1.17.0 in /usr/local/lib/python3.6/dist-packages (from procgen) (1.18.5)
Requirement already satisfied: filelock<4.0.0,>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from procgen) (3.0.12)
Requirement already satisfied: imageio<3.0.0,>=2.6.0 in /usr/local/lib/python3.6/dist-packages (from gym3<1.0.0,>=0.3.3->procgen) (2.9.0)
Requirement already satisfied: cffi<2.0.0,>=1.13.0 in /usr/local/lib/python3.6/dist-packages (from gym3<1.0.0,>=0.3.3->procgen) (1.14.3)
Requirement already satisfied: glfw<2.0.0,>=1.8.6 in /usr/local/lib/python3.6/dist-packages (from gym3<1.0.0,>=0.3.3->procgen) (1.12.0)
Requirement already satisfied: imageio-ffmpeg<0.4.0,>=0.3.0 in /usr/local/lib/python3.6/dist-packages (from gym3<1.0.0,>=0.3.3->procgen) (0.3.0)
Requirement already satisfied: moderngl<6.0.0,>=5.5.4 in /usr/local/lib/python3.6/dist-packages (from gym3<1.0.0,>=0.3.3->procgen) (5.6.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from gym<1.0.0,>=0.15.0->procgen) (1.4.1)
Requirement already satisfied: cloudpickle<1.7.0,>=1.2.0 in /usr/local/lib/python3.6/dist-packages (from gym<1.0.0,>=0.15.0->procgen) (1.3.0)
Requirement already satisfied: pyglet<=1.5.0,>=1.4.0 in /usr/local/lib/python3.6/dist-packages (from gym<1.0.0,>=0.15.0->procgen) (1.5.0)
Requirement already satisfied: pillow in /usr/local/lib/python3.6/dist-packages (from imageio<3.0.0,>=2.6.0->gym3<1.0.0,>=0.3.3->procgen) (7.0.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.6/dist-packages (from cffi<2.0.0,>=1.13.0->gym3<1.0.0,>=0.3.3->procgen) (2.20)
Requirement already satisfied: glcontext<3,>=2 in /usr/local/lib/python3.6/dist-packages (from moderngl<6.0.0,>=5.5.4->gym3<1.0.0,>=0.3.3->procgen) (2.2.0)
Requirement already satisfied: future in /usr/local/lib/python3.6/dist-packages (from pyglet<=1.5.0,>=1.4.0->gym<1.0.0,>=0.15.0->procgen) (0.16.0)

In [2]:
#Clone git
!git clone -b restructure_code https://github.com/SebastianLarssonDTU/02456-Reinforcement-Learning-Project.git "my_project"

fatal: destination path 'my_project' already exists and is not an empty directory.

In [3]:
#update git
%cd /content/my_project
! git pull

/content/my_project
Already up to date.

In [4]:
import datatools as tools
from datatools import DATA_PATH, MODEL_PATH
#Mount drive
tools.mount_drive()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# TESTING

In [5]:
#Import all custom files
import baseline
import datatools as tools
import hyperparameters as h
import model
import my_util
import policy
import ppo
import utils

#other imports
import torch

#import specific methods
from baseline import set_hyperparameters
from ppo import PPO
from experiments import run_experiment, print_list_of_experiments

In [6]:
INDEX = tools.create_index_table_from_txt_files()
INDEX

        total_steps num_envs num_levels  ... step_start Time spent Last Mean Reward
 Value    8000000.0       32         10  ...        NaN    5:14:18         20.34375
 Value    8000000.0       32         10  ...        NaN    5:30:18         19.53125
 Value    8000000.0       32         10  ...        NaN    5:46:11         23.96875
 Value    8000000.0       32         10  ...        NaN    5:41:20         28.15625
 Value    8000000.0       32         10  ...        NaN    5:46:59          25.8125
 Value    8000000.0       32         10  ...        NaN        NaN             23.0
 Value    8000000.0       32         10  ...        NaN        NaN             24.5
 Value    8000000.0       32         10  ...        NaN    8:55:30         16.28125
 Value    8000000.0       32         10  ...        NaN    9:30:41         24.15625
 Value    8000000.0       32         10  ...        NaN        NaN         22.03125
 Value    8000000.0       32         10  ...        NaN        NaN         27.09375
 Value    8000000.0       32         10  ...        NaN    7:33:30         29.71875
 Value    8000000.0       32         10  ...        NaN    7:50:29           30.375
 Value    8000000.0       32         50  ...        NaN        NaN         23.84375
 Value    8000000.0       32         50  ...        NaN        NaN            22.25
 Value    8000000.0       32        100  ...        NaN        NaN         16.09375
 Value    8000000.0       32        100  ...        NaN        NaN            23.75
 Value    8000000.0       32         50  ...        NaN        NaN         23.84375
 Value    8000000.0       32         10  ...        NaN    7:58:57          26.8125
 Value    8000000.0       32        100  ...        NaN        NaN         21.15625
 Value    8000000.0       32         50  ...        NaN        NaN            23.25
 Value    8000000.0       32         10  ...        NaN    8:17:39         26.40625
 Value    8000000.0       32         50  ...        NaN        NaN             21.5
 Value    8000000.0       32         50  ...        NaN        NaN            17.75
 Value     200000.0       32         10  ...          0    0:07:15           9.8125
 Value     404800.0       32         10  ...     204800        NaN         13.09375
 Value     666944.0       32         10  ...     466944    0:08:25         15.34375
 Value    8000000.0       32         50  ...          0        NaN            20.75
 Value    8000000.0       32         50  ...          0        NaN         24.71875
 Value    8000000.0       32         50  ...          0        NaN           15.125
 Value   14004736.0       32         10  ...    6004736        NaN         21.15625

[31 rows x 27 columns]

In [7]:
file_names = [x.strip() for x in INDEX['file_name']]
for i in range(len(file_names)):
  print("[{:2d}]: {}".format(i, file_names[i]))

[ 0]: Experiment0_Run_26Nov_15h21m41s
[ 1]: Experiment1_Run_26Nov_15h22m38s
[ 2]: Experiment2_Run_26Nov_22h02m36s
[ 3]: Experiment2_Run_27Nov_11h05m48s
[ 4]: Experiment4_Run_27Nov_11h07m20s
[ 5]: Experiment3_Run_27Nov_18h03m39s
[ 6]: Experiment4_Run_27Nov_18h11m00s
[ 7]: Experiment5_Run_27Nov_16h37m42s
[ 8]: Experiment6_Run_28Nov_12h09m43s
[ 9]: Experiment3_Run_29Nov_16h30m27s
[10]: Experiment7_Run_29Nov_16h32m47s
[11]: Experiment7_Run_30Nov_14h45m32s
[12]: Experiment8_Run_30Nov_22h21m06s
[13]: Experiment7_50levels_Run_01Dec_07h28m45s
[14]: Experiment2_50levels_Run_01Dec_10h07m41s
[15]: Experiment2_100levels_Run_02Dec_09h27m30s
[16]: Experiment7_100levels_Run_02Dec_09h29m48s
[17]: Experiment8_50levels_Run_02Dec_17h18m34s
[18]: Experiment8_10levels_Run_02Dec_09h48m26s
[19]: Experiment2_100levels_Run_03Dec_10h48m24s
[20]: Experiment8_50levels_Run_03Dec_14h53m09s
[21]: Experiment8_10levels_Run_03Dec_11h04m34s
[22]: Experiment8_50levels_Run_04Dec_06h17m22s
[23]: Experiment4_50levels_Run_04Dec_08h02m21s
[24]: Load_and_save_test_Run_04Dec_17h17m58s
[25]: Load_and_save_test_Run_04Dec_17h17m58s_loaded_04Dec_17h44m14s
[26]: Load_and_save_test_Run_04Dec_17h17m58s_loaded_04Dec_17h49m51s
[27]: Experiment2_50levels_Run_04Dec_18h10m32s
[28]: Experiment7_50levels_Run_04Dec_18h12m45s
[29]: Experiment8_50levels_Run_05Dec_08h34m02s
[30]: Experiment2_50levels_Run_04Dec_18h10m32s_loaded_05Dec_09h41m03s

In [8]:
# run_experiment(2, levels=50, save_interval=5e5)

In [ ]:
file_name = "Experiment2_50levels_Run_04Dec_18h10m32s_6004736steps"
set_hyperparameters(baseline="PPO")
h.value_clipping = True
h.num_levels = 50
model = PPO(print_output=True, eval=True, save_interval=5e5)
model.load_policy(file_name)
model.train()

Observation space: Box(0.0, 1.0, (3, 64, 64), float32)
Action space: 15
Loaded current model from models folder with name Experiment2_50levels_Run_04Dec_18h10m32s_6004736steps.pt
Step: 6012928	Mean reward: 19.875
Step: 6021120	Mean reward: 22.78125
Step: 6029312	Mean reward: 21.78125
Evaluation done with avg score of   3.936659
Step: 6037504	Mean reward: 21.1875
Step: 6045696	Mean reward: 21.21875
Step: 6053888	Mean reward: 21.875
Step: 6062080	Mean reward: 19.25
Step: 6070272	Mean reward: 21.96875
Step: 6078464	Mean reward: 22.71875
Step: 6086656	Mean reward: 22.25
Step: 6094848	Mean reward: 22.9375
Step: 6103040	Mean reward: 21.375
Step: 6111232	Mean reward: 21.375
Step: 6119424	Mean reward: 21.90625
Step: 6127616	Mean reward: 23.40625
Step: 6135808	Mean reward: 19.8125
Step: 6144000	Mean reward: 22.6875
Step: 6152192	Mean reward: 21.25
Step: 6160384	Mean reward: 20.03125