In [24]:
import pandas as pd
    count = 0

    returns_list=[]
    steps_list =[]

    for index, text in enumerate(open('test_output.txt', "r")):

        strings=text.split(" ")
        if(strings[0] == "final"):
            count +=1
            steps_list.append(int(strings[2][:-1]))
            returns_list.append(float(strings[4][:-1]))

    df = pd.DataFrame()
    df["Steps"] = steps_list
    df["Returns"] = returns_list

In [25]:
df

   Steps  Returns
0     71      0.0
1    167      5.0
2    120      2.0