<a href="https://colab.research.google.com/github/SebastianLarssonDTU/02456-Reinforcement-Learning-Project/blob/restructure_code/Test_Loading.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# INIT : Procgen, Drive, Git

In [1]:
!pip install procgen

Requirement already satisfied: procgen in /usr/local/lib/python3.6/dist-packages (0.10.4)
Requirement already satisfied: filelock<4.0.0,>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from procgen) (3.0.12)
Requirement already satisfied: numpy<2.0.0,>=1.17.0 in /usr/local/lib/python3.6/dist-packages (from procgen) (1.18.5)
Requirement already satisfied: gym3<1.0.0,>=0.3.3 in /usr/local/lib/python3.6/dist-packages (from procgen) (0.3.3)
Requirement already satisfied: gym<1.0.0,>=0.15.0 in /usr/local/lib/python3.6/dist-packages (from procgen) (0.17.3)
Requirement already satisfied: imageio-ffmpeg<0.4.0,>=0.3.0 in /usr/local/lib/python3.6/dist-packages (from gym3<1.0.0,>=0.3.3->procgen) (0.3.0)
Requirement already satisfied: cffi<2.0.0,>=1.13.0 in /usr/local/lib/python3.6/dist-packages (from gym3<1.0.0,>=0.3.3->procgen) (1.14.3)
Requirement already satisfied: glfw<2.0.0,>=1.8.6 in /usr/local/lib/python3.6/dist-packages (from gym3<1.0.0,>=0.3.3->procgen) (1.12.0)
Requirement already satisfied: moderngl<6.0.0,>=5.5.4 in /usr/local/lib/python3.6/dist-packages (from gym3<1.0.0,>=0.3.3->procgen) (5.6.2)
Requirement already satisfied: imageio<3.0.0,>=2.6.0 in /usr/local/lib/python3.6/dist-packages (from gym3<1.0.0,>=0.3.3->procgen) (2.9.0)
Requirement already satisfied: cloudpickle<1.7.0,>=1.2.0 in /usr/local/lib/python3.6/dist-packages (from gym<1.0.0,>=0.15.0->procgen) (1.3.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from gym<1.0.0,>=0.15.0->procgen) (1.4.1)
Requirement already satisfied: pyglet<=1.5.0,>=1.4.0 in /usr/local/lib/python3.6/dist-packages (from gym<1.0.0,>=0.15.0->procgen) (1.5.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.6/dist-packages (from cffi<2.0.0,>=1.13.0->gym3<1.0.0,>=0.3.3->procgen) (2.20)
Requirement already satisfied: glcontext<3,>=2 in /usr/local/lib/python3.6/dist-packages (from moderngl<6.0.0,>=5.5.4->gym3<1.0.0,>=0.3.3->procgen) (2.2.0)
Requirement already satisfied: pillow in /usr/local/lib/python3.6/dist-packages (from imageio<3.0.0,>=2.6.0->gym3<1.0.0,>=0.3.3->procgen) (7.0.0)
Requirement already satisfied: future in /usr/local/lib/python3.6/dist-packages (from pyglet<=1.5.0,>=1.4.0->gym<1.0.0,>=0.15.0->procgen) (0.16.0)

In [2]:
#Clone git
!git clone -b restructure_code https://github.com/SebastianLarssonDTU/02456-Reinforcement-Learning-Project.git "my_project"

fatal: destination path 'my_project' already exists and is not an empty directory.

In [3]:
#update git
%cd /content/my_project
! git pull

/content/my_project
Already up to date.

In [4]:
import datatools as tools
from datatools import DATA_PATH, MODEL_PATH
#Mount drive
tools.mount_drive()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# TESTING

In [5]:
#Import all custom files
import baseline
import datatools as tools
import hyperparameters as h
import model
import my_util
import policy
import ppo
import utils

#other imports
import torch

#import specific methods
from baseline import set_hyperparameters
from ppo import PPO
from experiments import run_experiment, print_list_of_experiments

In [6]:
INDEX = tools.create_index_table_from_txt_files()
INDEX

       total_steps num_envs num_levels  ... step_start Time spent Last Mean Reward
 Value   8000000.0       32         10  ...        NaN    5:14:18         20.34375
 Value   8000000.0       32         10  ...        NaN    5:30:18         19.53125
 Value   8000000.0       32         10  ...        NaN    5:46:11         23.96875
 Value   8000000.0       32         10  ...        NaN    5:41:20         28.15625
 Value   8000000.0       32         10  ...        NaN    5:46:59          25.8125
 Value   8000000.0       32         10  ...        NaN        NaN             23.0
 Value   8000000.0       32         10  ...        NaN        NaN             24.5
 Value   8000000.0       32         10  ...        NaN    8:55:30         16.28125
 Value   8000000.0       32         10  ...        NaN    9:30:41         24.15625
 Value   8000000.0       32         10  ...        NaN        NaN         22.03125
 Value   8000000.0       32         10  ...        NaN        NaN         27.09375
 Value   8000000.0       32         10  ...        NaN    7:33:30         29.71875
 Value   8000000.0       32         10  ...        NaN    7:50:29           30.375
 Value   8000000.0       32         50  ...        NaN        NaN         23.84375
 Value   8000000.0       32         50  ...        NaN        NaN            22.25
 Value   8000000.0       32        100  ...        NaN        NaN         16.09375
 Value   8000000.0       32        100  ...        NaN        NaN            23.75
 Value   8000000.0       32         50  ...        NaN        NaN         23.84375
 Value   8000000.0       32         10  ...        NaN    7:58:57          26.8125
 Value   8000000.0       32        100  ...        NaN        NaN         21.15625
 Value   8000000.0       32         50  ...        NaN        NaN            23.25
 Value   8000000.0       32         10  ...        NaN    8:17:39         26.40625
 Value   8000000.0       32         50  ...        NaN        NaN             21.5
 Value   8000000.0       32         50  ...        NaN        NaN            17.75
 Value    200000.0       32         10  ...          0    0:07:15           9.8125
 Value    404800.0       32         10  ...     204800        NaN         13.09375

[26 rows x 27 columns]

In [7]:
file_names = [x.strip() for x in INDEX['file_name']]
for i in range(len(file_names)):
  print("[{:2d}]: {}".format(i, file_names[i]))

file_name=file_names[3]
file_name

[ 0]: Experiment0_Run_26Nov_15h21m41s
[ 1]: Experiment1_Run_26Nov_15h22m38s
[ 2]: Experiment2_Run_26Nov_22h02m36s
[ 3]: Experiment2_Run_27Nov_11h05m48s
[ 4]: Experiment4_Run_27Nov_11h07m20s
[ 5]: Experiment3_Run_27Nov_18h03m39s
[ 6]: Experiment4_Run_27Nov_18h11m00s
[ 7]: Experiment5_Run_27Nov_16h37m42s
[ 8]: Experiment6_Run_28Nov_12h09m43s
[ 9]: Experiment3_Run_29Nov_16h30m27s
[10]: Experiment7_Run_29Nov_16h32m47s
[11]: Experiment7_Run_30Nov_14h45m32s
[12]: Experiment8_Run_30Nov_22h21m06s
[13]: Experiment7_50levels_Run_01Dec_07h28m45s
[14]: Experiment2_50levels_Run_01Dec_10h07m41s
[15]: Experiment2_100levels_Run_02Dec_09h27m30s
[16]: Experiment7_100levels_Run_02Dec_09h29m48s
[17]: Experiment8_50levels_Run_02Dec_17h18m34s
[18]: Experiment8_10levels_Run_02Dec_09h48m26s
[19]: Experiment2_100levels_Run_03Dec_10h48m24s
[20]: Experiment8_50levels_Run_03Dec_14h53m09s
[21]: Experiment8_10levels_Run_03Dec_11h04m34s
[22]: Experiment8_50levels_Run_04Dec_06h17m22s
[23]: Experiment4_50levels_Run_04Dec_08h02m21s
[24]: Load_and_save_test_Run_04Dec_17h17m58s
[25]: Load_and_save_test_Run_04Dec_17h17m58s_loaded_04Dec_17h44m14s

'Experiment2_Run_27Nov_11h05m48s'

In [8]:
import glob

def create_test_model():
  #set parameters
  set_hyperparameters(baseline="PPO")
  h.value_clipping = True
  h.version = "Load_and_save_test"
  h.total_steps = 2e5

  #create model and train for a bit
  model = PPO(print_output=True, eval=True, save_interval = 5e4)
  file_name = model.file_name
  model.train()

def load_test_model(file_name):
  #set parameters
  set_hyperparameters(baseline="PPO")
  h.value_clipping = True
  h.version = "Load_and_save_test"
  h.total_steps = 2e5

  #create model and train for a bit
  model = PPO(print_output=True, eval=True, save_interval = 5e4)
  model.load_policy(file_name)
  return model

def print_all_related_models(file_name):
  all_models = glob.glob(MODEL_PATH +'*.pt')
  related_models = []
  for model in all_models:
    if file_name in model:
      related_models.append(model)
  print("Related models:")
  for model in related_models:
    print(model)

In [9]:
# create_test_model()

In [10]:
root_name = "Load_and_save_test_Run_04Dec_17h17m58s"
print_all_related_models(root_name)

Related models:
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Load_and_save_test_Run_04Dec_17h17m58s_57344steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Load_and_save_test_Run_04Dec_17h17m58s_106496steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Load_and_save_test_Run_04Dec_17h17m58s_155648steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Load_and_save_test_Run_04Dec_17h17m58s_204800steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Load_and_save_test_Run_04Dec_17h17m58s_loaded_04Dec_17h44m14s_466944steps.pt

In [11]:
#First loading
# first_model_name = "Load_and_save_test_Run_04Dec_17h17m58s_204800steps"
# model1=load_test_model(first_model_name)
# model1.train()

In [12]:
print_all_related_models(root_name)

Related models:
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Load_and_save_test_Run_04Dec_17h17m58s_57344steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Load_and_save_test_Run_04Dec_17h17m58s_106496steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Load_and_save_test_Run_04Dec_17h17m58s_155648steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Load_and_save_test_Run_04Dec_17h17m58s_204800steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Load_and_save_test_Run_04Dec_17h17m58s_loaded_04Dec_17h44m14s_466944steps.pt

In [13]:
#Second loading
second_model_name = "Load_and_save_test_Run_04Dec_17h17m58s_loaded_04Dec_17h44m14s_466944steps"
model2=load_test_model(second_model_name)
model2.train()

Observation space: Box(0.0, 1.0, (3, 64, 64), float32)
Action space: 15
Loaded current model from models folder with name Load_and_save_test_Run_04Dec_17h17m58s_loaded_04Dec_17h44m14s_466944steps.pt
Step: 475136	Mean reward: 12.5625
Step: 483328	Mean reward: 12.625
Step: 491520	Mean reward: 11.8125
Step: 499712	Mean reward: 12.375
Step: 507904	Mean reward: 12.875
Step: 516096	Mean reward: 12.03125
Step: 524288	Mean reward: 14.34375
Evaluation done with avg score of   2.754956
Saved current model in models folder with name Load_and_save_test_Run_04Dec_17h17m58s_loaded_04Dec_17h49m51s_991232steps.pt
Step: 532480	Mean reward: 13.90625
Step: 540672	Mean reward: 13.625
Step: 548864	Mean reward: 13.875
Step: 557056	Mean reward: 13.21875
Step: 565248	Mean reward: 12.875
Step: 573440	Mean reward: 15.75
Saved current model in models folder with name Load_and_save_test_Run_04Dec_17h17m58s_loaded_04Dec_17h49m51s_1040384steps.pt
Step: 581632	Mean reward: 14.21875
Step: 589824	Mean reward: 14.5625
Step: 598016	Mean reward: 13.8125
Step: 606208	Mean reward: 14.25
Step: 614400	Mean reward: 13.3125
Step: 622592	Mean reward: 14.375
Saved current model in models folder with name Load_and_save_test_Run_04Dec_17h17m58s_loaded_04Dec_17h49m51s_1089536steps.pt
Step: 630784	Mean reward: 14.5625
Step: 638976	Mean reward: 14.875
Step: 647168	Mean reward: 14.3125
Step: 655360	Mean reward: 16.25
Evaluation done with avg score of   2.852831
Step: 663552	Mean reward: 15.3125
Step: 671744	Mean reward: 15.34375
Completed training!
Saved current model in models folder with name Load_and_save_test_Run_04Dec_17h17m58s_loaded_04Dec_17h49m51s_1138688steps.pt

Policy(
  (encoder): NatureEncoder(
    (layers): Sequential(
      (0): Conv2d(3, 32, kernel_size=(8, 8), stride=(4, 4))
      (1): ReLU()
      (2): Conv2d(32, 64, kernel_size=(4, 4), stride=(2, 2))
      (3): ReLU()
      (4): Conv2d(64, 64, kernel_size=(3, 3), stride=(1, 1))
      (5): ReLU()
      (6): Flatten()
      (7): Linear(in_features=1024, out_features=512, bias=True)
      (8): ReLU()
    )
  )
  (policy): Linear(in_features=512, out_features=15, bias=True)
  (value): Linear(in_features=512, out_features=1, bias=True)
)

In [14]:
print_all_related_models(root_name)

Related models:
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Load_and_save_test_Run_04Dec_17h17m58s_57344steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Load_and_save_test_Run_04Dec_17h17m58s_106496steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Load_and_save_test_Run_04Dec_17h17m58s_155648steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Load_and_save_test_Run_04Dec_17h17m58s_204800steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Load_and_save_test_Run_04Dec_17h17m58s_loaded_04Dec_17h44m14s_466944steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Load_and_save_test_Run_04Dec_17h17m58s_loaded_04Dec_17h49m51s_991232steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Load_and_save_test_Run_04Dec_17h17m58s_loaded_04Dec_17h49m51s_1040384steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Load_and_save_test_Run_04Dec_17h17m58s_loaded_04Dec_17h49m51s_1089536steps.pt
/content/drive/My Drive/02456-Deep-Learning-Project/Models/Load_and_save_test_Run_04Dec_17h17m58s_loaded_04Dec_17h49m51s_1138688steps.pt

In [15]:
x="asufjdhoasd"
x[:-1]

'asufjdhoas'